.main_content {
  border: 1.5px solid rgba(255, 255, 255, 0.45);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  height: 100%;
  overflow-y: hidden;
}

.light {
  border: 1.5px solid #2f2f2f;
}
