.main {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.8rem 1.2rem 2.8rem;
  height: 91.6vh;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-column: 1/-1;
  }
}
